.our-team {
  background-color: $bg-color-secondary;
  line-height: 1.19;

  &__list {
    display: flex;
  }

  &__item:not(:first-child) {
    margin-left: 30px;
  }

  &__container {
    padding-top: 0;
    padding-bottom: 30px;

    background-color: $bg-color-white;

    min-width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 10px;

    color: $primary-text-color;

    font-weight: 500;
    font-size: 16px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
  }
}
