@import "../base/transition";
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $bg-backdrop;

  opacity: 1;
  @include transition(opacity);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden &__modal {
    transform: translate(-50%, -50%) scale(1.1);
  }

  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 530px;

    padding-top: 40px;
    padding-bottom: 40px;

    background-color: $bg-color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @include transition(transform);
  }

  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    background: #ffffff;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: 0;

    @include transition(color);
  }

  &__close-button:hover,
  &__close-button:focus {
    color: $accent-color;
  }
}
