.footer {
  color: $white-text-color;
  background-color: $bg-hero-footer;

  &__addition-thumb {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-around;
    }

    @media screen and (min-width: $desctop) {
      align-items: baseline;
    }
  }

  &__container {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 1199px) {
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }

    @media screen and (min-width: $desctop) {
      position: relative;
      display: flex;
      align-items: baseline;
    }
  }

  &__nav {
    margin-bottom: 60px;

    @media screen and (min-width: $desctop) {
      margin-bottom: 0;
    }
  }

  &__logo {
    color: $white-text-color;
    font-family: $sec-font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    display: inline-block;
    margin-bottom: 20px;

    @media screen and (min-width: $desctop) {
      font-size: 26px;
      line-height: 1.19;
    }
  }

  &__link {
    color: $footer-transparent-color;

    transition-property: color;
    transition-duration: $duration;
    transition-timing-function: $cubic-bezier;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__list {
    font-size: 14px;
    line-height: 1.71;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: $desctop) {
      margin-bottom: 9px;
    }
  }

  &__addres {
    font-family: $main-font-family;
    font-style: normal;
  }

  &__form {
    @media screen and (min-width: $desctop) {
      position: absolute;
      right: 15px;
      top: 72px;
    }
  }

  &__form-label {
    margin-top: 0;
    margin-bottom: 20px;

    color: $white-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__form-input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;

    width: 450px;
    background-color: transparent;
    color: $footer-transparent-color;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (min-width: $desctop) {
      width: 358px;
      margin-bottom: 0;
    }
  }

  &__form-thumb {
    @media screen and (min-width: $desctop) {
      @include centred(flex);
    }
  }

  &__form-btn {
    @include centred(inline-flex);

    padding: 0;
    width: 200px;
    min-height: 50px;

    background-color: $accent-color;
    color: $white-text-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px transparent;

    @media screen and (min-width: $desctop) {
      margin-left: 12px;
    }
  }

  &__form-btn::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 8px;

    background-image: url("../image/iconsend.svg");

    background-size: contain;
    display: inline-block;
    fill: currentColor;
  }
}
