.hero {
  max-width: 1600px;
  height: auto;

  background-position: center;
  background-color: $bg-hero;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;

  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;

  @media screen and (min-width: $desctop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title-box {
    width: 360px;
    margin: 0 auto;

    @media screen and (min-width: $desctop) {
      width: 696px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $white-text-color;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    @media screen and (min-width: $desctop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid transparent;

    background-color: $accent-color;
    color: $white-text-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    outline: 0;

    @include transition(color, background-color, border);
  }

  &__button:hover,
  &__button:focus {
    background-color: $bg-color-white;
    color: $accent-color;

    border: 1px solid $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12) inset;
  }
}
