.section {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $bg-color-white;

  @media screen and (min-width: $desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $primary-text-color;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    @media screen and (min-width: $desctop) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.17;
    }
  }

  &__title--centred {
    text-align: center;
  }
}
