.section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: $bg-color-white;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: $primary-text-color;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }

  &__title--centred {
    text-align: center;
  }
}
