.mobile-social {
  display: flex;
  flex-wrap: wrap;

  &__item + &__item {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__link {
    font-weight: 500;
    font-size: calc(14px + 4 * (100vw / 480));

    @media screen and (max-width: 479px) {
      font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 480));
    }

    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $accent-color;
  }
}
