.mobile-auth-nav {
  margin-bottom: 64px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  &__link--tel {
    font-size: calc(26px + 8 * (100vw / 480));

    @media screen and (max-width: 479px) {
      font-size: calc(26px + (8 + 8 * 0.7) * ((100vw - 320px) / 480));
    }

    line-height: 1.18;
    color: $accent-color;
  }

  &__link--email {
    font-size: calc(18px + 6 * (100vw / 480));

    @media screen and (max-width: 479px) {
      font-size: calc(18px + (6 + 6 * 0.7) * ((100vw - 320px) / 480));
    }

    line-height: 1.17;
    color: $title-text-color;
  }
}
