@import "mobile-site-nav";
@import "mobile-auth-nav";
@import "mobile-social";

.mobile-menu {
  @include position(absolute);
  z-index: 10;

  background-color: $bg-color-white;

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 48px;

  // display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scaleX(0.8);
  @include transition(opacity, transform);

  &.is-open {
    // display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: scaleX(1);
    overflow-y: scroll;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &__button {
    @include centred(flex);
    z-index: 11;

    margin-left: auto;
    // margin-top: 10px;
    padding: 0;

    width: 40px;
    height: 40px;

    border: none;
    background-color: transparent;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__icon {
    @include centred(flex);
    width: 24px;
    height: 16px;
  }

  &__button &__icon-cross {
    display: none;
  }

  &__button.is-open &__icon-cross {
    display: block;
  }

  &__button.is-open &__icon {
    width: 19px;
    height: 19px;
  }

  &__button.is-open &__icon-menu {
    display: none;
  }
}
