@import "mobile-site-nav";
@import "mobile-auth-nav";
@import "mobile-social";

.mobile-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: $bg-color-white;

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 48px;

  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @include transition(opacity, visibility);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &__button {
    // position: absolute;
    // top: 10px;
    // right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

    margin-left: auto;
    // margin-top: 10px;
    padding: 0;

    width: 40px;
    height: 40px;

    border: none;
    background-color: transparent;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 16px;
  }

  &__button &__icon-cross {
    display: none;
  }

  &__button.is-open &__icon-cross {
    display: block;
  }

  &__button.is-open &__icon {
    width: 19px;
    height: 19px;
  }

  &__button.is-open &__icon-menu {
    display: none;
  }
}
