body {
  color: $title-text-color;
  font-family: $main-font-family;
  letter-spacing: $main-letter-spacing;
}

body.modal-open {
  overflow: hidden;
  overflow-y: scroll;
}

.list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.link,
.logo,
.icon-thumb {
  text-decoration: none;
}

.logo--blue {
  color: $accent-color;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 767px) {
    width: 480px;

    &--header {
      position: relative;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  @media (min-width: $tablet) {
    width: 768px;
  }
  @media (min-width: $desctop) {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.image-block {
  display: block;
}

.icon {
  fill: currentColor;
}

.icon-social {
  width: 20px;
  height: 20px;
}
