$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$white-text-color: #ffffff;
$footer-transparent-color: rgba(255, 255, 255, 0.6);
$social-link-color: #afb1b8;

$bg-color: #e5e5e5;
$bg-color-secondary: #f5f4fa;
$bg-color-white: #ffffff;
$logo-text-black: #000000;
$bg-hero-footer: #2f303a;
$bg-footer-icon: rgba(255, 255, 255, 0.1);
$bg-hero: #c4c4c4;

$bg-backdrop: rgba(0, 0, 0, 0.2);

$border-color: #eeeeee;

$bg-accent-overlay: rgba(33, 150, 243, 0.9);
